/* CSS */
.calendar {
    width: 100%;
    margin: 0 auto;
}
.button-left {
  text-align: left;
}
.button-right {
  text-align: right;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #feeeee;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.numberCircle {
    border-radius: 50%;

    width: 45px;
    height: 30px;
	padding: 1.5px;

    background: #fff;
    border: 2px solid #666;
    color: #666;

}

footer { bottom: 0; color: #707070; left: 200; position: fixed; font-size: small; width:100%;}
