/* CSS */
body {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#calendar {
    width: 100%;
    margin: 0 auto;
}
footer { bottom: 0; color: #707070; left: 200; position: fixed; font-size: small; width:100%;}
