<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ site.url}}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <a href="{{ site.url}}"><img src="http://rainbowfamilyrestaurant.com/Rainbows.png" alt="A rainbow" style="width:304px;height:228px;"></a>
        <!--Calender ------>
            <script src="assets/caljs/jquery.js" type="text/javascript"></script>
            <script type="text/javascript" src="assets/caljs/jquery.openCarousel.js"></script>
            <link rel="stylesheet" href="assets/calcss/clndr.css" type="text/css" />
            <script src= "assets/caljs/moment-2.2.1.js" type="text/javascript"></script>
            <script src="assets/caljs/clndr.js" type="text/javascript"></script>
            <script src="assets/caljs/site.js" type="text/javascript"></script>
		<div class="content">
            <div class="cal1"> </div>
         </div>
        <!--End Calender ------>
      </header>
      <section>

          {{ content | replace: '<li>[ ]', '<br/><input type="checkbox" >' |
              replace: '<li>[X]', '<br/><input type="checkbox"
                                                value="on" checked>'  }}

      </section>
      <footer>
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
